---
type VariantType = 'default' | 'hero' | 'section';
const { variant = 'default',extraClasses = '' } = Astro.props as { variant: VariantType, extraClasses?: string };

const variantStyles = {
	default: 'text-xl font-bold text-(--color-secondary) mb-3',
	section: 'font-medium text-sm md:text-base text-(--color-secondary)/70',
	hero: 'font-medium text-sm md:text-base text-(--color-secondary) opacity-70 leading-relaxed mb-10',
};

---

<h3 class={`${variantStyles[variant]} ${extraClasses}`}>
    <slot />
</h3>

	
